body {
	background-color: #ecf0f1;
	font-family: monospace;
}

.gag h3 {
	background-color: #c0392b;
	color: white;
}

.gag img {
	border: 4px solid #7f8c8d;
}

header {
	background-color: black;
}

header a {
	color: white;
	font-size: 2em;
}

nav {
	background-color: rgb(192, 57, 43);
}

.tiny-gag h4 {
	color: white;
	font-weight: bold;	
}

nav ul {
	list-style-type: none;
}
