@import 'prism/themes/prism-okaidia.css'

body
	background: rgb(34, 49, 63)
	
body *
	color: white
	font-family: 'Lato', sans-serif;
	
li, p
	font-size: 1.2em
	line-height: 1.2em
	
.black 
	background: white
	

.black *
	color: rgb(34, 49, 63) 
	
.left ul, .left p
	width: 100%
	text-align: left

.bespoke-slide
	background: transparent
	background-size: cover !important
	z-index: 10
	left: 20%
	right: 20%
	width: auto
	height: auto
	padding: 0
	top: 0
	bottom: 0
	margin: 0

.fullscreen
	left: 0
	right: 0
	top: 0
	left: 0
	


.animated-background *
	color: white
	
.animated-background:before
	content: ''
	z-index: -10
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	background: rgba(0,0,0, 0.5)

a 
	//color: white
	font-weight: 700
	text-decoration: underline


.author 
	margin-top: 20px

.author *
	vertical-align: middle
	font-style: italic
	font-weight: 100
	text-decoration: none
	text-align: right



.confused 
	background-image: url(https://media.giphy.com/media/3o7TKUZ05Tpxd57hza/giphy.gif)
	
.cool
	background-image: url(http://i.makeagif.com/media/10-08-2015/-BT-qE.gif)

.calculating
	background-image: url(https://media.giphy.com/media/26ybx720u0sDzbaIU/giphy.gif)
	
.fix
	background-image: url(https://media.giphy.com/media/nArBQosm5nXdm/giphy.gif)
	
.yeah
	background-image: url(https://media.giphy.com/media/KD5SK9O4hgZoI/giphy.gif)
	
.shit
	background-image: url(https://media.giphy.com/media/w3VAPVezGYVEc/giphy.gif)
	
.pizza
	background-image: url(https://media.giphy.com/media/12G5TOxGH7WUEM/giphy.gif)


.citation 
	font-style: italic
	font-weight: 100

.bespoke-slidenumber 
	position: absolute
	bottom: 50px
	right: 50px
	
.bespoke-progress-bar{	
	background: #f14a29
}
