doctype html
html
  head 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title 0Gag 
    link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
    link(href="build/example.css" rel="stylesheet")

  body 
    
    header 
      a(href="http://9gag.com/hot" target="_blank") Hot
      a(href="http://9gag.com/fresh" target="_blank") Fresh
      a(href="http://9gag.com/trending" target="_blank") Trending
    

    div(id="container")

      div(class="gag")
        h3 Stupid Robot !
        img(src="http://lorempicsum.com/futurama/450/400/1")

      div(class="gag")
        h3 Crazy monkey !
        img(src="http://lorempicsum.com/futurama/450/400/2")

      div(class="gag")
        h3 Dat trick !
        img(src="http://www.gifbin.com/bin/102015/1444064429_pope_francis_table_cloth_trick.gif")

      div(class="gag")
        h3 When you don't know how fork() works !
        img(src="http://lorempicsum.com/futurama/450/400/4")
    
    nav 
      ul 
        li(class="tiny-gag")
          img(src="http://lorempicsum.com/futurama/450/200/5")
          h4 When you're the only girl at TN !

        li(class="tiny-gag")
          img(src="http://lorempicsum.com/futurama/450/200/3")
          h4 When the SIC exam is arriving ...

        li(class="tiny-gag")
          img(src="https://media.giphy.com/media/v9ofYSIvnZ79e/giphy.gif")
          h4 Me at Project management exam (CTRL+F)!