doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title Exemple de page

	body

		header mon super menu...
		div(id="container")
			Choses à faire
			ul
				li Vénérer le club studio
				li Cracher sur le BDE
				li Travailler la TRAD
			
			<img src="http://www.commitstrip.com/wp-content/uploads/2016/05/Strip-Qui-de-la-poule-ou-de-loeuf-650-final.jpg">