@import 'prism/themes/prism-okaidia.css'

body
	background: rgb(34, 49, 63)
	color: white
	font-family: 'Lato', sans-serif;


.bespoke-slide
	background: transparent
	background-size: cover !important
	z-index: 10
	left: 20%
	right: 20%
	margin-left: 0
	width: auto
	height: auto
	


.animated-background:before
	content: ''
	z-index: -10
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	background: rgba(0,0,0, 0.5)

a 
	color: white
	font-weight: 700
	text-decoration: underline


.author 
	margin-top: 20px

.author *
	vertical-align: middle
	font-style: italic
	font-weight: 100
	text-decoration: none
	text-align: right
